<html>
<body>
<a href="/produits/">Liste de produits</a>
<form action="/produits/addaction" method="post">
Désignation:<input type="text" name="nom"/>
Type:<input type="text" name="type"/>
Prix:<input type="number" name="price"/>
<input type="submit" value="ajouter"/>
</form>



</body>




</html>